<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tu-viaje"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Tu Hospedaje
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
   
  <div class="hospedaje-fila">
    Hospedaje: Travelodge
  </div>
 
  <div class="hotel-image">
    <img src="assets/visit-hotel-apart.jpg" alt="hotel">
  </div>


  <div class="maps">
    <img src="assets/mapa1.jpg" alt="">
  </div>


  <div class="hospedaje-fila">
    Ubicación: 38 Rue Cardinet, 75017 Paris, Francia
  </div>


  <div class="precio">
    Precio: €55 por noche
  </div>


  <div class="logo-container">
    <img src="assets/triplanner-logo.png" alt="Logo de la aplicación">
  </div>
 
</ion-content>
