<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tu-viaje"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Tus Comidas
    </ion-title>
  </ion-toolbar>
</ion-header>


<!-- body -->
<ion-content [fullscreen]="true">
 
  <div class="comidas-fila">
    Restaurantes
  </div>
<hr><hr><hr>
  <!-- restaurate1 -->
 
  <!-- opcion -->
  <div class="precio">
    Opción 1
  </div>
  <!-- opcion -->


  <div class="resto-image">
    <img src="assets/resto1.jpg" alt="hotel">
  </div>


  <div class="maps">
    <img src="assets/ubiresto1.jpg" alt="">
  </div>


<!-- Ubicación -->
<div class="comidas-fila">
  Ubicación: Bouillon Chartier Gare de I'Est ,Paris, Francia
</div>
<!-- Ubicación -->


<!-- precio -->
  <div class="precio">
    Precio: €12 por noche
  </div>
<!-- precio -->


<!-- restaurante1 -->






<hr><hr><hr class="linea-separadora"><hr><hr>






<!-- restaurante2 -->


  <!-- opcion -->
  <div class="precio">
    Opción 2
  </div>
  <!-- opcion -->
 
<div class="resto-image">
  <img src="assets/resto2.jpg" alt="hotel">
</div>


<div class="maps">
  <img src="assets/ubiresto2.jpg" alt="">
</div>


<!-- Ubicación -->
<div class="comidas-fila">
Ubicación: Dans le Noir ,Paris, Francia
</div>
<!-- Ubicación -->


<!-- precio -->
<div class="precio">
  Precio: €16 por noche
</div>
<!-- precio -->


<!-- restaurante2 -->




<hr><hr><hr class="linea-separadora"><hr><hr>




<!-- restaurante3 -->


  <!-- opcion -->
  <div class="precio">
    Opción 3
  </div>
  <!-- opcion -->
 
<div class="resto-image">
  <img src="assets/resto3.jpg" alt="hotel">
</div>


<div class="maps">
  <img src="assets/ubiresto3.jpg" alt="">
</div>


<!-- Ubicación -->
<div class="comidas-fila">
Ubicación: Grand Coeur ,Paris, Francia
</div>
<!-- Ubicación -->


<!-- precio -->
<div class="precio">
  Precio: €20 por noche
</div>
<!-- precio -->
 
</ion-content>
