ion-item-divider{
    background-color: #3cbdf5;
    color: white;
    font-weight: bold;
}


.texto1{
    font-size: 15px;
}


.imagen1{
    width: 10%;
}


.labels{
    text-align: left;
}
.precios{
    float: right;
}
