<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tu-viaje"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Excursiones
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
 
 
  <div class="excursion-fila">
    Excursion 1
  </div>
 


  <div class="excursion1-image">
    <img src="/assets/Eifel.jpg" alt="excursion 1">
  </div>


  <div class="maps">
    <img src="/assets/ubieifel.png" alt="">
  </div>


  <div class="excursiones-fila">
    Torre Eiffel
  </div>




  <div class="precio">
    Precio: €55
  </div>
  <br><br>




<div class="excursion-fila">
  Excursion 2
</div>


<div class="excursion2-image">
  <img src="/assets/louvre.jpg" alt="excursion 2">
</div>


<div class="maps">
  <img src="/assets/louvreubi.png" alt="">
</div>


<div class="excursiones-fila">
  Museo del Louvre
</div>


<div class="precio">
  Precio: €65
</div>
<br><br>




<div class="excursion-fila">
  Excursion 3
</div>


<div class="excursion3-image">
  <img src="/assets/Arco del Triunfo.jpg" alt="excursion 3">
</div>


<div class="maps">
  <img src="/assets/Arcoubi.png" alt="">
</div>


<div class="excursiones-fila">
  Arco del Triunfo
</div>


<div class="precio">
  Precio: €75
</div>


<div class="logo-container">
  <img src="assets/triplanner-logo.png" alt="Logo de la aplicación">
</div>


</ion-content>
