<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tu-viaje"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Movilidad
    </ion-title>
  </ion-toolbar>
</ion-header>


<!-- body -->
<ion-content [fullscreen]="true">


  <div class="modelo-fila">
    BMW Serie 3 Berlina
  </div>


  <div class="auto-image">
    <img src="assets/bmw.jpg" alt="vehículo">
  </div>
 


 
  <div class="caracteristicas">
    <ul>
      <li>Marca: BMW</li>
      <li>Modelo: Serie 3 Berlina</li>
      <li>Año: 2022</li>
      <li>Precio: €1200</li>
    </ul>
  </div>




  <ion-button expand="full" size="large" class="alquilar-boton">
    Alquilar
    <ion-icon name="cart-outline"></ion-icon>
  </ion-button>
 


  <div class="logo-container">
    <img src="assets/triplanner-logo.png" alt="Logo de la aplicación">
  </div>


</ion-content>
