<ion-header [translucent]="true" class="ion-text-center">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="menu"></ion-back-button>
  </ion-buttons>
</ion-header>


<ion-content [fullscreen]="true" class="texto">
  <div class="background"></div>


  <ion-text>
    <h2>¡Tu plan está listo!</h2>
  </ion-text>


  <h2 id="textopar">París</h2>


<ion-img src="assets/Plan-listo.jpg" alt="Imagen del plan" class="imagen"></ion-img>
 
  <ion-button id="linkvp" expand="full" fill="clear"  href="tu-viaje">Ver Plan</ion-button>


 
  <ion-img src="assets/triplanner-logo.png" alt="Logo" class="logo"></ion-img>
</ion-content>
