<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Regístrate</ion-title>
    </ion-toolbar>

  </ion-header>
  <div class="divImagenes">
    <div class="seccion">
      <ion-icon name="arrow-back" class="iconoVolver"></ion-icon>
    </div>
    <div class="seccion">
      <ion-icon name="airplane-outline" class="iconoAvion"></ion-icon>
    </div>

  </div>
  <div class="elegirPlan-container">
    <form>
      <ion-button expand="block" class="elecciones custom-button">
        <a href="#"></a>Hospedaje 🏡</ion-button>
      <br />
      <ion-button expand="block" class="elecciones custom-button">
        <a href="#"></a>Excursiones 🥾</ion-button>
      <br>
      <ion-button expand="block" class="elecciones custom-button">
        <a href="#"></a>Movilidad 🚊</ion-button>
      <br>
      <ion-button expand="block" class="elecciones custom-button">
        <a href="#"></a>Comidas 🍴</ion-button>

      <br />
    </form>
  </div>
  <br>
  <!-- Enlace para crear plan -->
  <div class="buscarPlanDiv">
    <button class="boton1">
      <a href="#" class="comprarLink">COMPRAR PLAN 🛒</a> <!-- FALTA LINKEAR CON PAGINA DE CREAR PLAN -->
    </button>

  </div>

</ion-content>